.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.userLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* align-items: center; */
}

.categoryLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.categoryPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.product_label {
  padding: 5px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
}

.cardItem {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* margin: 10px; */
}

.jumbotron {
  width: 30wh;
  height: 30vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccb9b9;
  -moz-animation: Gradient 15s ease infinite;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.shop {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 25px;
}

.shop_list {
  padding: 0;
  list-style: none;
}
.shop_list li {
  position: relative;
  padding: 10px 30px;
  background: linear-gradient(to left, #adcee9 0%, #fff, #adcee9);
  border: 2px solid #337ab7;
  color: #506a6b;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  text-align: center;
  background-size: 100% 100%;
  z-index: 1;
}
.shop_list li:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 50%;
  left: 50%;
  background: linear-gradient(to left, #ebf3fa 0%, #fff, #ebf3fa);
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.shop_list li:hover:before {
  /* width: 100%; */
  opacity: 1;
}
